*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .logo{
    background-color: rgb(240, 240, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgb(12, 12, 12);
  }
  input{
    width: 250px;
    height: 20px;
  }
  .bu{
  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 20px;
    font-size: 1.2rem;
    color: yellow;
    background-color: #333;
  
  }
  .lesElementsdeDiv{
    width: 70%;
    height: 150px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lesElementsdeDiv li, a{
    text-decoration: none;
    list-style: none;
    padding: 0 20px;
    font-size: 2rem;
    color: white;
  }
  .lesElementsdeDiv li, a:hover{
    background-color: rgb(17, 17, 16);
  }
  .laPremièreImage img{
    width: 100%;
    height: 700px;
    background-color: black;
    
  }
  body {
    width: 100%;
    font-family: Arial, sans-serif;
    justify-content: center;
   
  }
  @import url(https://fonts.googleapis.com/css?family=Raleway);
  h2 {
  vertical-align: center;
  text-align: center;
  }
  h2 {
    position: relative;
    top: 50PX;
  vertical-align: center;
  text-align: center;
  font-size: 2.1REM;
  }
  
  html, body {
  margin: 0;
  height: 100%;
  }
  
  * {
  font-family: "Raleway";
  box-sizing: border-box;
  }
  
  .top-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(58, 8, 238);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height:150px;
  padding: 1rem;
  
  }
  
  .menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  
  .menu > li {
  margin: 0 1rem;
  overflow: hidden;
  }
  
  .menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -85px;
  }
  
  #menu-toggle {
  display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  }
  
  .menu-button::before {
  content: '';
  margin-top: -8px;
  }
  
  .menu-button::after {
  content: '';
  margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(184, 18, 18, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
  }
  @media (max-width: 900px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height:0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: gray;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
    .esnomdesiconespartie2{
        flex-wrap: wrap;
        gap: 20px;
    }
    .lesicones{
        flex-wrap: wrap;
        gap: 20PX;
    }
    .lesnomdesicones{
        flex-wrap: wrap;
    }
    .lesicone2{
        flex-wrap: wrap;
        gap: 20px;
    }
    .nomdesderniersicones{
        flex-wrap: wrap;
    }
  }
  
 P{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: relative;
    top: 100px;
 } 
 .botton{
    position: relative;
    width: 300px;
    height: 100px;
    background-color: black;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 150px;
    left: 700px;
    font-size: 1.2rem;
 }
 .lapremierebarre{
  position: relative;
  top: 60px;
  width: 100%;
  height: 400px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
 }
 .image1{
  width: 300px;
  height: 200px;
  background-color: blue;
 }
 .image2{
  width: 300px;
  height: 200px;

  border-radius: 100px;
 }
 .image3{
  width: 300px;
  height: 200px;
  background-color: blue;
 }
 .image4{
  width: 300px;
  height: 200px;
  
  border-radius: 100px;
 }
 .demandedesigner{
  width: 100%;
  height: 600px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
 }
 .images img{
  width: 600px;
  height: 400px;
  background-color: rgb(221, 205, 205);
 }
 .images1 img{
  width: 600px;
  height: 400px;
  background-color: rgb(221, 205, 205);
 }
 .lesprocessus{
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
 }
 .paragrapheprocessus{
  width: 400px;
  height: 400px;
  
  font-size: 5rem;
 
 }
 .paragrapheprocessus1 img{
  width: 400px;
  height: 400px;
  background-color: wheat;
 }
